
        .mali-regular-italic {
            font-family: "Mali", cursive;
            font-weight: 400;
            font-style: italic;
        }

        body {
            background-color: bisque;
        }

        .header-text {
            text-align: center;
            color: brown;
            font-size: 30px;
        }

        .header-container {
            margin-top: 5%;
            background-color: coral;
            padding: 2%;
            border-radius: 5px;
            width: 40%;

        }

        .flex-header {
            display: flex;
            justify-content: center;
        }

        .img-container {
            margin-top: 20px;
        }

        .nav-menu-container {
            background-color: aliceblue;
            margin-top: 2%;
            margin-bottom: 1%;
            padding: 3%;
            border-radius: 3%;
        }

        .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;
            color: rgb(165, 42, 89);
            font-size: 25px;
        }